<!-- MAIN CONTENT -->
<div id="content">
<div class="page-header">
  <%= link_to wr_doc_distributions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New wr_doc_distribution</h1>
</div>

<%= render 'form' %>
</div>
