<!-- MAIN CONTENT -->
<div id="content">
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="<%= home_documents_path %>" style="text-docoration: none;">HOME</a></li>
        <li>Sub Fields</li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>
  <div class="page-header">
    <%#= link_to sub2_fields_path, class: 'btn btn-default' do %>
    <!--    <span class="glyphicon glyphicon-list-alt"></span>-->
    <!--    Back-->
    <%# end %>
    <%#= link_to @sub2_field, class: 'btn btn-primary' do %>
    <!--    <span class="glyphicon glyphicon-info-sign"></span>-->
    <!--    Show-->
    <%# end %>
    <h1>Editing sub2_field</h1>
    <div id="logout" class="btn-header transparent pull-right">
        <span>
          <span id="logo" class="hidden-xs"> <%= image_tag 'qmis-transparent.png', alt: 'SmartAdmin', style: "width: 150px; margin-top: -100px; margin-left: 20%;" %> </span>
        </span>
    </div>
  </div>

  <%= render 'form' %>
</div>
