<div class="page-header">
  <%= link_to dak_templates_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_dak_template_path(@dak_template), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show dak_template</h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @dak_template.description %></dd>

  <dt>File upload:</dt>
  <dd><%= @dak_template.file_upload %></dd>

</dl>
