<!-- MAIN CONTENT -->
<div id="content">
<div class="page-header">
  <%= link_to log_activities_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New log_activity</h1>
</div>

<%= render 'form' %>
</div>
