<!-- MAIN CONTENT -->
<div id="content">
<div class="page-header">
  <h1>Total Reference Document</h1>
</div>

<dl class="dl-horizontal">
  <div class="row animated fadeInDown">
    <%
      @field = Field.all
      @field.each do |f|
    %>
    <div class="col-md-4">
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <div class="widget-body">

          <!--<span class="label label-success pull-right">Monthly</span>-->
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-folder-open fa-2x" style="color:blue;"></i>
            </div>
            <div class="col-md-6">
              <header><%= f.description_field %></header>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <% @WrDoc = WrDoc.where('field_id = ?', f.field_id).select('*')%>
              <h2 class="no-margins text-navy" style="color:#42f4a1;"><%= @WrDoc.count%></h2>
              <small>Total Document</small>
            </div>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</dl>
</div>
