<div id="logout" class="btn-header transparent pull-right">
  <span>
    <span id="logo" class="hidden-xs"> <%= image_tag 'main-dms-logo.png', alt: 'SmartAdmin', style: "width: 150px; margin-top: -100px; margin-left: 20%;" %> </span>
  </span>
</div>