<div class="modal animated fadeInDown" id="dialog" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width: 85% !important;">
    <div class="modal-content">

      <div class="modal-header">
        <button onclick="myFunction()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"></h3>
      </div>

      <div id="body">
      </div>

    </div>
  </div>
</div>
